

#content {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}

canvas {
  z-index: 1;
}

#sidebar > div {
  z-index: 1000;
  position: fixed;
  width: 50px;
  height: 100px;
  top: 90px;
  left: 50px;
  background-color: rbga(20, 20, 20, 0.6);
  border-radius: 10px;
}